section.footers.bg-light.pt-5.pb-3.mt-5
  .container.pt-5
    .row
      .col-xs-12.col-sm-6.col-md-4.footers-one
        .footers-logo
          img(src='./Assets/Images/TheMobstar.png' alt='Logo' style='width: 120px')
        .footers-info.mt-3
          p
            | Cras sociis natoque penatibus et magnis Lorem Ipsum tells about
            | the compmany right now the best.
        .social-icons
          a(href='https://www.facebook.com/')
            i#social-fb.fa.fa-facebook-square.fa-2x.social
          a(href='https://twitter.com/')
            i#social-tw.fa.fa-twitter-square.fa-2x.social
          a(href='https://plus.google.com/')
            i#social-gp.fa.fa-google-plus-square.fa-2x.social
          a(href='mailto:bootsnipp@gmail.com')
            i#social-em.fa.fa-envelope-square.fa-2x.social
      .col-xs-12.col-sm-6.col-md-2.footers-two
        h5 Essentials
        ul.list-unstyled
          li
            a(href='') Search
          li
            a(href='') Sell your Car
          li
            a(href='') Advertise with us
          li
            a(href='') Dealers Portal
          li
            a(href='') Post Requirements
      .col-xs-12.col-sm-6.col-md-2.footers-three
        h5 Information
        ul.list-unstyled
          li
            a(href='') Register Now
          li
            a(href='') Advice
          li
            a(href='') Videos
          li
            a(href='') Blog
          li
            a(href='') Services
      .col-xs-12.col-sm-6.col-md-2.footers-four
        h5 Explore
        ul.list-unstyled
          li
            a(href='') News
          li
            a(href='') Sitemap
          li
            a(href='') Testimonials
          li
            a(href='') Feedbacks
          li
            a(href='') User Agreement
      .col-xs-12.col-sm-6.col-md-2.footers-five
        h5 Company
        ul.list-unstyled
          li
            a(href='') Career
          li
            a(href='') For Parters
          li
            a(href='') Terms
          li
            a(href='') Policy
          li
            a(href='') Contact Us
section.disclaimer.bg-light.border
  .container
    .row
      .col-md-12.py-2
        small
          | Disclaimer: Element Limited is only an intermediary offering its
          | platform to facilitate the transactions between Seller and
          | Customer/Buyer/User and is not and cannot be a party to or control
          | in any manner any transactions between the Seller and the
          | Customer/Buyer/User. All the offers and discounts on this Website
          | have been extended by various Builder(s)/Developer(s) who have
          | advertised their products. Element is only communicating the
          | offers and not selling or rendering any of those products or
          | services. It neither warrants nor is it making any representations
          | with respect to offer(s) made on the site. Element Limited shall
          | neither be responsible nor liable to mediate or resolve any
          | disputes or disagreements between the Customer/Buyer/User and the
          | Seller and both Seller and Customer/Buyer/User shall settle all
          | such disputes without involving Element Limited in any manner.
section.copyright.border
  .container
    .row.text-center
      .col-md-12.pt-3
        p.text-muted &copy; 2024 The Mobstar.
